.grid{
    width:400px;
    height: 600px;
    background-color: #3f29d1;
    position: relative;
}

.bird{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color:#c233c5;
}
.pillar-top{
    width:50px;
    height:200px;
    background-color: #00b612;
    position: absolute;
    top:0;
}
.pillar-bottom{
    width:50px;
    height:200px;
    background-color: #00b612;
    position: absolute;
    bottom:0;
}